@font-face {font-family: "iconfont";
  src: url('../fonts/player-iconfont.eot?t=1593788216967'); /* IE9 */
  src: url('../fonts/player-iconfont.eot?t=1593788216967#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/player-iconfont.woff?t=1593788216967') format('woff'),
  url('../fonts/player-iconfont.ttf?t=1593788216967') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('../fonts/player-iconfont.svg?t=1593788216967#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pinglun:before {
  content: "\e607";
}

.icon-linedesign-16:before {
  content: "\e672";
}

.icon-49xiayishou:before {
  content: "\e611";
}

.icon-047caozuo_shangyishou:before {
  content: "\e61f";
}

.icon-icon-:before {
  content: "\e649";
}

.icon-zhibo:before {
  content: "\e629";
}

.icon-zanting:before {
  content: "\e65d";
}

.icon-shoucang:before {
  content: "\e613";
}

.icon-bofang:before {
  content: "\e803";
}

.icon-fanhui:before {
  content: "\e71a";
}

.icon-diantai:before {
  content: "\e636";
}

.icon-ziyuan:before {
  content: "\e610";
}

.icon-suiji:before {
  content: "\e60e";
}

.icon-xunhuan:before {
  content: "\e612";
}

.icon-shengyin:before {
  content: "\e600";
}

.icon-gedan:before {
  content: "\e61b";
}

.icon-paihangbang:before {
  content: "\e69b";
}

.icon-bofangliebiao:before {
  content: "\e6a7";
}

